In [6]:
import numpy as np
import pandas as pd

In [10]:
df = pd.DataFrame(
                  {
                    'col1': [1, 2, 3, 4, 5],
                    'col2': [6, 7, 8, 9, 10],
                    'col3': [11, 12, 13, 14, 15],
                  })

In [11]:
df

   col1  col2  col3
0     1     6    11
1     2     7    12
2     3     8    13
3     4     9    14
4     5    10    15

In [12]:
df['col4'].apply()

KeyError: 'col4'

In [20]:
ll = ['hola', 'hola', 'mundo', 'tengo', 'frio', 'si', 'si',]

In [22]:
sorted(set(ll))

['frio', 'hola', 'mundo', 'si', 'tengo']

In [23]:
set(sorted(ll))

{'frio', 'hola', 'mundo', 'si', 'tengo'}

In [26]:
import nltk
from nltk.book import *
ll = ['vamos', 'a', 'ver', 'a', 'que', 'tipo', 'de', 'moneda', 'vamos', 'a', 'convertir']
fdist = FreqDist(ll)

*** Introductory Examples for the NLTK Book ***
Loading text1, ..., text9 and sent1, ..., sent9
Type the name of the text or sentence to view it.
Type: 'texts()' or 'sents()' to list the materials.
text1: Moby Dick by Herman Melville 1851
text2: Sense and Sensibility by Jane Austen 1811
text3: The Book of Genesis
text4: Inaugural Address Corpus
text5: Chat Corpus
text6: Monty Python and the Holy Grail
text7: Wall Street Journal
text8: Personals Corpus
text9: The Man Who Was Thursday by G . K . Chesterton 1908

In [29]:
fdist.most_common(2)

[('a', 3), ('vamos', 2)]

In [30]:
fdist('a')

TypeError: 'FreqDist' object is not callable